@import '../../Assets/Sass/Veriables.scss';

.footer{
    margin-top: 100px;
    background-image: url(../../Assets/Img/Footer.png);
    background-size: cover;
    height:716px;
    background-repeat: no-repeat;
    display: flex;
    .input{
        margin-top: -200px;
        margin-left: 1200px;
    }

    .link{
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 350px;
        margin-left: 570px;
        a{
            color: #fff;
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 50px;
        }
    }
    .logo{
        position: relative;
        .a{
            margin-top:300px;
            margin-left: -150px;
            position: absolute;
        }
        h1{
            width: 230px;
            height: 42px;
            color: #fff;
            font-family: 'Lato';
            font-weight: 500;
            font-style: normal;
            font-size: 14px;
            line-height: 21px;
            margin-left: -150px;
            margin-top:400px;
            position: absolute;
        }
        div{
            width: 230px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            margin-top:530px;
            margin-left: -150px;
            a{
            }
        }
    }
}
.inpots{
    margin-top: 29px;
    width: 317px;
    height: 52px;
    color: $white;
    background: #89363D;
    border-radius: 5px;
    border: transparent;
    padding: 0 2rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.foot__btn{
    margin-top: 34px;
    width: 312px;
    height: 52px;
    color: $white;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    border-radius: 5px;
    background-color: #B04C08;
    border: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.mine{
    color: #fff;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}